# Ignore the virtual environment subfolders but keep venv directory itself
venv/Include/
venv/Lib/
venv/Scripts/
venv/__pycache__/

# Ignore node modules
node_modules/

# Ignore schematics
filtered_schematics_json-10.24/